<html>

<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/js/bootstrap.js"></script>
<body>    
    <div>
        <button type="button" class="btn btn-primary" onclick='location.href="/img/nodejs.png"'>NodeJs</button>
     </div>     
</body>

</html>